<section class="o-blog">
  <header class="o-blog__header">
    {% include "@atoms/00-type/00-heading.twig"
      with {
        heading: {
          label: title,
          level: 2,
          variation: 4,
          align: "center",
          color: "dark"
        }
      }
      %}
  </header>
</section>
