<span class="m-feedback-count">
        отзывов
  <span class="m-feedback-count__icon">
    <svg class="a-svg">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ base_path ~ directory }}/assets/svg/sprite-ui.svg#comments"></use>
    </svg>
    <span class="m-feedback-count__votes">{{ count }}</span>
  </span>
</span>
