<section class="o-feedback">
  <div class="o-feedback__inner">
    <header class="o-feedback__header">
      {% include "@atoms/00-type/00-heading.twig"
      with {
      heading: {
      label: title,
      tag: 'div',
      level: 4,
      align: "center",
      color: "dark"
      }
      }
      %}
    </header>
    <div class="o-feedback__main">
      {% include "@organisms/carousel/carousel.twig"
        with {
          carousel_class: "js-carousel-feedbacks",
          carousel_items: feedbacks,
          carousel_controls: 0,
          carousel_pagination: 1,
        }
      %}
    </div>
    {#<footer class="o-feedback__footer">#}
      {#<a href="#" class="a-btn--transparent-green-hover">Все {{ feedback_count }}</a>#}
    {#</footer>#}
  </div>
</section>
