<section class="o-recent-orders">
  <header class="o-recent-orders__header">
    {% include "@atoms/00-type/00-heading.twig"
    with {
      heading: {
      label: title,
      level: 2,
      variation: 4,
      align: "center",
      color: "dark"
      }
    }
    %}
  </header>
  <div class="o-recent-orders__inner">
    {% include "@organisms/carousel/carousel.twig"
    with {
      carousel_class: "js-carousel-recent-orders",
      carousel_items: orders,
      carousel_controls: true,
    }
    %}
  </div>
  <div class="o-recent-orders__image-wrapper js-parallax" data-rellax-percentage="-0.3" data-rellax-speed="3">
    <img alt="Шашлычки" class="o-stats__image" src="{{ base_path ~ directory }}/assets/img/landing/done_orders.png">
  </div>
</section>
