<div class="o-carousel">
  <div class="o-carousel__wrapper {{ carousel_class }}">
    <ul class="o-carousel__list">
      {% for item in carousel_items %}
        {% include "@molecules/carousel-item/carousel-item.twig"
        with {
        content: item.content
        }
        %}
      {% endfor %}
    </ul>
  </div>
  {% if carousel_controls %}
    <a href="#" class="o-carousel__control o-carousel__control--prev js-carousel-control-prev"></a>
    <a href="#" class="o-carousel__control o-carousel__control--next js-carousel-control-next"></a>
  {% endif %}
</div>
