<div class="m-stars">
  <div class="m-stars__item">
    <div class="m-stars__layer--top js-stars-rollover" style="width:{{ (rating / 5) * 100 }}%;">
      <span class="m-stars__icon"></span>
      <span class="m-stars__icon"></span>
      <span class="m-stars__icon"></span>
      <span class="m-stars__icon"></span>
      <span class="m-stars__icon"></span>
    </div>
    <div class="m-stars__layer--bottom">
      <span class="m-stars__icon"></span>
      <span class="m-stars__icon"></span>
      <span class="m-stars__icon"></span>
      <span class="m-stars__icon"></span>
      <span class="m-stars__icon"></span>
    </div>
  </div>
</div>
