<div class="o-formats">
  {% include "@atoms/00-type/00-heading.twig"
  with {
    heading: {
      label: title,
      tag: 'div',
      level: 3,
      align: "center",
      color: "dark",
      classes: ['o-formats__title'],
    }
  } %}
  {% embed "@layouts/grid/grid.twig" with {
  grid_variation: ['2col', 'spaceless']
  } %}

    {% block grid_content %}
      {# Drupal content #}
      {% if grid_content %}
        {{ grid_content }}
        {# PL content in JSON #}
      {% else %}
        {% for format in formats %}
          {% include "@molecules/format-card/format-card.twig"
          with {
          "title": format.title,
          "description": format.description,
          "image": format.image,
          "pricing": format.pricing,
          "people": format.people,
          "format_id": format.format_id
          }
          %}
        {% endfor %}
      {% endif %}
    {% endblock %}
  {% endembed %}
</div>

