<div class="m-recent-order-card">
  <div class="a-heading__h6 m-recent-order-card__title">
    {{ title }}
    <i class="m-recent-order-card__icon"></i>
  </div>
  <div class="m-recent-order-card__stroke"></div>
  <span class="m-recent-order-card__date">
    {{ date }}
  </span>
  <span class="m-recent-order-card__amount">
    {{ amount }}
  </span>
</div>
