<div class="o-events">
  {% embed "@layouts/grid/grid.twig" with {
  grid_variation: ['spaceless']
  } %}

    {% block grid_content %}
      {% for event in events %}
        {% include "@molecules/event-card/event-card.twig"
        with {
        "types": event.types,
        "description": event.description,
        "image": event.image,
        }
        %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
</div>

