<div class="o-partners">
  {% include "@organisms/carousel/carousel.twig"
  with {
    carousel_class: "js-carousel-partners",
    carousel_items: partners
  }
  %}
  <div class="o-partners__all">
    <a href="#" class="a-btn--green-white-hover">Все партнеры</a>
  </div>
</div>
