<section class="o-partners">
  <header class="o-partners__header">
    {% block header %}
      {% include "@atoms/00-type/00-heading.twig"
      with {
      heading: {
      label: title,
      tag: 'div',
      level: 4,
      align: "center",
      color: "light"
      }
      }
      %}
    {% endblock %}
  </header>
  <div class="o-partners__carousel">
    {% include "@organisms/carousel/carousel.twig"
      with {
        carousel_class: "js-carousel-partners",
        carousel_items: partners,
        carousel_controls: 0,
        carousel_pagination: 1,
      }
    %}
  </div>
  <footer class="o-partners__footer">
    {#<a href="#" class="a-btn--green-white-hover">Все партнеры</a>#}
  </footer>
</section>
