<div class="o-stats">
  <div class="o-stats__inner">
    {% for item in items %}
      <div class="o-stats__item">
        <div class="a-heading__h1 o-stats__count">{{ item.count }}</div>
        <div class="o-stats__text">{{ item.text }}</div>
      </div>
    {% endfor %}
  </div>
  {% if parallax_image %}
    <div class="o-stats__image-wrapper js-parallax" data-rellax-percentage="0.3" data-rellax-speed="3">
      <img alt="Фрукты" class="o-stats__image" src="{{ base_path ~ directory ~ parallax_image}}">
    </div>
  {% endif %}
</div>
